body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100dvh;
  background-color: indigo;
  font-family: 'Noto Sans KR', sans-serif;
}
